<div class="row">

    <div class="col-md-6 col-md-offset-3">
        <h3>Patient's doctors  <a href="#!/" class="btn btn-default btn-sm"><i class="fa fa-angle-left"></i> Back</a></h3>
        <div class="text-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
        <wait-cursor display-when="vm.isBusy"></wait-cursor>
        <table class="table table-responsive">
            <tr>
                <td>Username</td>
                <td>Email</td>
                <td>Ward</td>
            </tr>
            <tr ng-repeat="doctor in vm.doctors">
                <td>{{doctor.userName}}</td>
                <td>{{doctor.email}}</td>
                <td>{{doctor.ward}}</td>
            </tr>
        </table>
    </div>
</div>
