<div class="row">

    <div class="col-md-6 col-md-offset-3">
        <h3>Patient's doctors  <a href="#!/" class="btn btn-default btn-sm"><i class="fa fa-angle-left"></i> Back</a></h3>
        <div class="text-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
        <wait-cursor display-when="vm.isBusy"></wait-cursor>
        <form novalidate name="newStopForm" ng-submit="vm.addStop()">
            <div class="form-group">
                <label>Username</label>
                <input class="form-control" id="arrival" name="arrival" ng-model="vm.newStop.arrival" required ng-pattern="/^(\d{2})\-(\d{2})\-(\d{4})$/" />
                <span class="text-danger" ng-show="newStopForm.arrival.$error.required">Required</span>
                <span class="text-danger" ng-show="newStopForm.arrival.$error.pattern">Must be in format of MM-DD-YYYY.</span>
            </div>
            <div><input type="submit" value="New Doctor" class="btn btn-success" ng-disabled="newStopForm.$invalid" /></div>
        </form>
        <br/>
        <table class="table table-responsive">
            <tr>
                <td>Username</td>
                <td>Email</td>
                <td>Ward</td>
            </tr>
            <tr ng-repeat="doctor in vm.doctors">
                <td>{{doctor.userName}}</td>
                <td>{{doctor.email}}</td>
                <td>{{doctor.ward}}</td>
            </tr>
        </table>


    </div>
</div>
