@{
    ViewBag.Title = "Patients Page";
}
@section Scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/app-patients.js"></script>
    <script src="~/js/patientsController.js"></script>
    <script src="~/js/newPatientController.js"></script>
    <script src="~/js/updatePatientController.js"></script>
    <script src="~/js/doctorController.js"></script>
}
<div ng-app="app-patients">
   
    <div ng-view></div>
     
</div>